$--color-primary: #11c26d;

// Navbar
$navbar--background-color: $--color-primary;

// Sidebar
$sidebar--background-color-dark: #263238;
$sidebar--color-text-dark: #8a979e;

// Content
$content--background-color: #ebeff6;

// .theme0bb2d4 {
//   @import url('../../../static/css/theme0bb2d4.scss')
// }
// .theme3e8ef7 {
//   @import  url('../../../static/css/theme3e8ef7.scss')
// }
// .theme11c26d {
//   @import  url('./theme11c26d.scss')
// }
// .theme17b3a3 {
//   @import  url('./theme17b3a3.scss')
// }
// .theme667afa {
//   @import  url('./theme667afa.scss')
// }
// .theme997b71 {
//   @import  url('./theme997b71.scss')
// }
